@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: black;
}
* {
  box-sizing: border-box;
}
ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p {
  font-size: 16px;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.vc-day-content:hover {
  background-color: #2563eb !important;
  color: white;
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
}
